/* Created on Feb 1, 2016 2:01:33 PM */

body {background-color:Khaki; font-size:1.1em}
div {color: #0000FF;}  /* blue */
h3 {text-align:center; font-family:Arial; color:MidnightBlue}
h4 {text-align:center; font-family:Arial; color:MidnightBlue}
h1 {text-align:center; font-family:Arial; color:HotPink}
h2 {text-align:center; font-family:Arial; color:MidnightBlue}
a:link {color:MidnightBlue; font-weight:bold; text-decoration:none}      /* unvisited link */
a:visited {color:darkgray}  /* visited link */
a:hover {color:red}  /* mouse over link */
a:active {color:green}  /* selected link */
IMG.displayed {
	border-width:20;
	border-style:solid;
	border-color:white;
	display: block;
	margin-left: auto;
	margin-right: auto }
.back-right{
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
    float: right;
}
.back-left{
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
    float: left;
}
 a.back-right:link {color:green;}
 a.back-right:visited {color:green;}
 a.back-right:hover {color:green;}
 a.back-right:active {color:green;}

 a.back-left:link {color:green;}
 a.back-left:visited {color:green;}
 a.back-left:hover {color:green;}
 a.back-left:active {color:green;}
 
 .firstline::first-line {background-color:#ffef00;}
	 
 }