/* Created on Feb 1, 2016 2:01:33 PM */

body {background-color:Khaki; font-size:1.1em}
div {color:MidnightBlue;}
h3 {text-align:center; font-family:Arial; color:MidnightBlue}
h4 {text-align:center; font-family:Arial; color:MidnightBlue}
h1 {text-align:center; font-family:Arial; color:HotPink}
h2 {text-align:center; font-family:Arial; color:MidnightBlue}
a:link {color:MidnightBlue}      /* unvisited link */
a:visited {color:darkgray}  /* visited link */
a:hover {color:red}  /* mouse over link */
a:active {color:green}  /* selected link */
IMG.displayed {
	border-width:20;
	border-style:solid;
	border-color:white;
	display: block;
	margin-left: auto;
	margin-right: auto }


